.container {
  display: flex;
  justify-content: center;
  background-color: #212121;
  font-family: Questrial;
  font-weight: bolder;
}

.detail {
  display: flex;
  flex-direction: row;
  color: black;
  width: 50%;
  padding: 5%;
  border-radius: 2em;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  width: 100%;
}

.precio {
  font-size: 2rem;
}

.img-prod {
  display: flex;
  justify-content: center;
}

.img-prod img {
  border-radius: 1em 0em 0em 1em;
}

.oper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0em 1em 1em 0em;
  background-color: #eeee;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
