nav {
  background-color: #eeee;
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
}

nav .ul-cont li {
  padding: 5% 3% 0% 3%;
}

.cont-logo {
  display: flex;
  justify-content: left;
  width: 10%;
  padding-left: 6%;
}

.ul-cont {
  display: flex;
  justify-content: center;
  width: 70%;
}

a {
  text-decoration: none;
  color: black;
  font-family: Questrial;
  font-weight: bold;
}

.logoNav {
  width: 100%;
}

.carrito {
  width: 60px;
  height: 60px;
  padding: 10% 10% 0% 10%;
}

.link-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12%;
}
